.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.gitHubLogo {
    height: 80vh;
    position: absolute;
    left: 0;
    top: 70px;
}

.informacoes {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: white;
}

input {
    border: 1px solid #35393f; 
    border-radius: 22px;
    min-width: 250px;
    margin-right: 12px;
    width: 84%;
    background:transparent;
    font-size: 18px;
    padding: 10px;
    text-decoration: white;
}

input, select, textarea{
    color: white;
}

textarea:focus, input:focus {
    color: white;
}

button {
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 10px;
    margin-right: 12px;
    width: 10%; 
    background: transparent;
    color: white;
    font-size: 18px;
    padding: 10px;
    
}

button:hover {
    cursor: pointer;
    background: white;
    color: #090909;
    transition: all .6s ease;
}

button:active {
    scale:  90%;
}

.perfil {
    display: flex;
    margin : 40px;
}

.profile {
    border-radius: 64px;
    width: 128px;
    height: 128px;
    border: 2px solid white;
    margin-right: 32px;
}

.perfil h3 {
    color: #999999;
    font-size: 24px;
    margin: 0;
}

.perfil span {
    color: #999999;
    font-size: 14px;
    margin: 0;
}

.perfil p {
    color: white;
    font-size: 16px;
    margin: 20px 0 0 0;
}

.repositorio {
    font-size: 24px;
    color: white;
    margin: 10px 0;
    text-align: center;
}